<%- include('includes/head.ejs') %>

</head>
<body>

    <%- include('includes/navigation.ejs') %>
    <%- include('includes/progressBar.ejs') %>
    <div class="formHeader">
        <p> Downstream Machine Learning Task</p>
        <hr>
        <h5>Configure the requirements for your downstream machine learning tasks</h5>
    </div>


    

        
        <button type="button" id="supershow" style="margin-left:15rem; "  class="btn" >Supervised</button>
        <button type="button" id="unsupershow" style="margin-left:10rem; " class="btn">Unsupervised</button>
        
        <!--Supervised Content here-->
        <form class="formContent supervised" action="/downstreamHandler" method="post" style="display:none">
            <div id="superContent" style="display:none"> 
             
                <div style="display:none" class="learningType">
                    <input type="hidden" name="learningType" value="supervised">
                </div>

                <div style="width: 40rem">
                
                    <div class="row">
                        <div class="col">
    
                            <div class="form-check form-switch">
                                <label for="flexSwitchCheckDefault">Data Split</label>
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="dataSplit">        
                            </div>
                        </div>
                        
                        
                            <div class="col" id="testDataDropdown" style="display:none"> 
                                <label for="splitMethod">Split Method</label>
                                <select  class="form-select" id="splitMethod" aria-label="Default select example"  name="splitMethod">
                                    <option selected>Choose...</option>
                                    <option value="holdout">Hold-out(Train:66 Test:34)</option>
                                    <option value="kfold">K-Fold Validation</option>
                                    <option value="random">Random Sampling (Your Own Ratio)</option>
                                </select> 
                            </div>

                            <div class="col" id="kfoldInput" style="display:none">
                                <label for="kvalue">K-Value</label>
                                <input class="form-control" id="kvalue" type="text" name="kfoldValue">
                            </div>

                            <div class="col" id="randomRatio" style="display:none">

                                <div class="range">
                                    <label for="customRange1"></label>
                                    <input type="range" class="form-range" id="customRange1" step="1%" min="1" max="100%" value="70" name="range" />
                                    Train: <span id="rangeTrainVal">70%</span> <br> 
                                    Test : <span id="rangeTestVal">30%</span>
                                </div>
                            </div>
                            <div class="col" id="numOfTrial"style="display:none" >
                                <label for="numOfTrial">Number of Trial:</label>
                                <input class="form-control"  type="text" name="numOfTrial" value=1>
                            </div>
                        
                    </div>
                    <hr>

                    
        
                        <label for="dropdownClassification">Classification Type</label>
                        <select  class="form-select" id="dropdownClassification" aria-label="Default select example"  name="embeddingMethod">
                            
                            <option selected value="nodeclassfication">Node Classification</option>
                            <option value="graphClassification">Graph Classification</option>
                        </select>
                    
                    
                    <!--Classifier Choice-->
                    <hr>
                    <div style="width: 40rem;">
                    
                        <div class="row">
                            <div class="col">

                                <label for="dropdownClassifier">Choose your Classifier</label>
                                <select  class="form-select" id="dropdownClassifier" aria-label="Default select example" name="classifier">
                                    <option selected>Choose...</option>
                                    <option value="logisticRegression">Logistic Regression</option>
                                    <option value="SVM">SVM</option>
                                    <option value="KNN">KNN</option>
                                    <option value="decisionTree">Decision Tree</option>
                                </select>

                            </div>
                        
                            <!--Logistic Regression Parameters-->
                            <div class="col" style="display: none" id="logisticRegParam">
                                <label for="logisticSolver">Solver</label>
                                <select class="form-select" style="width: 10rem" name="solver" id="logisticSolver" >
                                    <option selected>lbfgs</option>
                                    <option value="newton-cg">newton-cg</option>
                                    <option value="liblinear">liblinear</option>
                                    <option value="sag">sag</option>
                                    <option value="saga">saga</option>
                                </select>

                                <label for="">C :float, default=1.0</label>
                                <input class="form-control" style="width: 10rem" type="text" id="cost" value=1.0 name="Cvalforlogistic">

                            </div>

                            <!-- SVM Parameters-->
                            <div class="col" style="display:none" id="SVMParam">
                                <label for="">C :float, default=1.0</label>
                                <input class="form-control" style="width: 10rem" type="text" id="" name="CvalForSVM" value=1.0 >

                                <label for="">Gamma</label>
                                <select class="form-select" name="gammaForSVM" id="gammaForSVM">
                                    <option selected value="scale">scale</option>
                                    <option value="auto">auto</option>
                                </select>
                                <label for="">kernel</label>
                                <select class="form-select" name="kernelForSVM" id="kernelForSVM">
                                    <option selected value="rbf">rbf</option>
                                    <option value="linear">linear</option>
                                    <option value="poly">poly</option>
                                    <option value="sigmoid">sigmoid</option>
                                    <option value="precomputed">precomputed</option>
                                </select>
                            </div>

                            <!-- KNN Parameters-->
                            <div class="col" style="display:none" id="KNNParam">
                                <label for="">n_neighbors default=5</label>
                                <input class="form-control" style="width: 10rem" type="text" id="numOfneighbors" name="nForKNN" value=5 >
                                
                                <label for="">p value for distance</label>
                                <select class="form-select" id="KNNdistance" name="disForKNN">
                                    <option selected value=2>2 (Euclidean)</option>
                                    <option value=1>1 (Manhattan)</option>
                                    <option >arbitrary (Minkowski)</option>
                                </select>
                                <div class="col" style="display:none" id="minkowski">

                                    <label for="minkowski">p for Minkowski</label>
                                    <input class="form-control" style="width: 10rem" type="text" id="minkowski" name="pvalForMinko">
                                </div>
                            </div>

                            <!-- DecisionTree Parameters-->
                            <div class="col" style="display:none" id="decisionTreeParam">
                                <label for="">criterion</label>
                                <select class="form-select" name="critForTree" id="DTcriterion">
                                    <option selected value="gini">gini</option>
                                    <option value="entropy">entropy</option>
                                </select>

                                <label for="">max_features default=None</label>
                                <select class="form-select" name="maxFeatForTree" id="DTmaxfeatures">
                                    <option selected >None</option>
                                    <option value="auto">auto</option>
                                    <option value="sqrt">sqrt</option>
                                    <option value="log2">log2</option>
                                </select>

                                <label for="">max_depth default=None</label>
                                <input class="form-control"  name="maxDepthForTree" style="width:10rem" type="text" id="numOfneighbors">
                            </div>
                            

                        </div> 
                    </div>
                    <hr>

                    <!--accuracy, precision, recall, F1, Area Under Curve (AUC), and visualize the ROC, confusion matrix, ALL-->
                    <div class="form-check">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input all" type="checkbox" name="metric" id="inlineCheckbox0" value="all">
                            <label class="form-check-label"  for="inlineCheckbox0">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox1" value="accuracy">
                            <label class="form-check-label" for="inlineCheckbox1">Accuracy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox2" value="precision">
                            <label class="form-check-label" for="inlineCheckbox2">Precision</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox3" value="recall">
                            <label class="form-check-label" for="inlineCheckbox3">Recall</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox4" value="f1_score">
                            <label class="form-check-label" for="inlineCheckbox4">F1 Score</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox5" value="rocauc">
                            <label class="form-check-label" for="inlineCheckbox5">ROC AUC Curve</label>
                        </div>
                        <div class="col" id="pos_labelValue" style="display:none">
                            <label for="poslabel">pos_label</label>
                            <input class="form-control" id="poslabel" type="text" name="poslabelVal">
                        </div>
                    </div>

                </div>
              
                
               
                

                
                <button id="btn" class="btn supervised" style="position:relative; margin-left:100%; margin-bottom:3px;" type="submit">Submit</button>
            </div>
            
        </form>    



            <!--Unsupervised Content here-->
        <form class="formContent unsupervised" action="/downstreamHandler" method="post" style="display:none">
            <div id="unsuperContent" style="display:none" > 
            
                <div style="display:none" class="learningType">
                    <input type="hidden" name="learningType" value="unsupervised">
                </div>

                <div style="width:40rem">
                
                    <div class = "row">
                        <div class="col">
    
                            <label for="unsupervisedTaskType">Task Type: </label>
                            <select  class="form-select" id="unsupervisedTaskType" aria-label="Default select example" name="unsupervisedTaskType">
                                <option selected>Choose...</option>
                                <option value="K-Means">K-Means</option>
                                <option value="DBSCAN">DBSCAN</option>
                                <option value="Agglomerative">Agglomerative</option>
                            </select>
    
                        </div>
    
                        <!-- Kmenas clustering parameter-->
                        <div class="col kmeansParam" style="display:none" >
    
                            <label for="n_clusters">n_clusters</label>
                            <input class="form-control" style="width:10rem" type="text" id="n_clusters" name="n_clustersForKmean" value=8 >
                            
                            <label for="n_init">n_init</label>
                            <input class="form-control" style="width:10rem" type="text" id="n_init" name="n_init" value=10 >

                            <label for="init">init</label>
                            <select  class="form-select" id="unsupervisedTaskType" aria-label="Default select example" name="init">
                                <option value="k-means++"selected>k-means++</option>
                                <option value="random">random</option>
                            </select>
                            
                            
                        </div>
                        <div class="col DBSCAN" style="display: none">
                            <label for="eps">eps(float)</label>
                            <input class="form-control" style="width:10rem" type="text" id="eps" name="eps" value=0.03 >
                            <label for="min_samples">min_samples(int)</label>
                            <input class="form-control" style="width:10rem" type="text" id="min_samples" name="min_samples" value=5 >

                        </div>

                        <div class="col Agglomerative" style="display: none">
                            <label for="eps">n_clusters(int)</label>
                            <input class="form-control" style="width:10rem" type="text" id="n_clusters" name="n_clusters" value=2 >

                            <label for="linkage">linkage</label>
                            <select  class="form-select" id="linkage" aria-label="Default select example" name="linkage">
                                <option value="ward"selected>ward</option>
                                <option value="complete">complete</option>
                                <option value="average">average</option>
                                <option value="single">single</option>
                            </select>
                        </div>
                        


                       
                    </div>
                </div>
                
                <hr>
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input all" type="checkbox" name="metric" id="inlineCheckbox0">
                        <label class="form-check-label" for="inlineCheckbox0">All</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox1" value="RandIndex">
                        <label class="form-check-label" for="inlineCheckbox1">Rand Index</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox2" value="NMI">
                        <label class="form-check-label" for="inlineCheckbox2">NMI (Normalized Mutual Information)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" name="metric" id="inlineCheckbox2" value="Silhouette">
                        <label class="form-check-label" for="inlineCheckbox2">Silhouette Coefficient</label>
                    </div>
                </div>

            
            
                <button id="btn" class="btn unsupervised" style="position:relative; margin-left:100%; margin-bottom:3px;" type="submit">Submit</button>
            </div>
            
        </form>







            <!-- <button id="btn" class="btn" style="position:relative; margin-left:100%; margin-bottom:3px;" type="submit">Submit</button> -->
    


    

    <script>
        $(document).ready(function(){

            $("#supershow").click(function(){
                $("form.supervised").show();

                $("#superContent").show();
                
                $("#unsuperContent").hide();
                $("form.unsupervised").hide();
            });
            $("#unsupershow").click(function(){
                $("form.unsupervised").show();
                $("#unsuperContent").show();
                
                $("#superContent").hide();
                $("form.supervised").hide();
            });

            $("#flexSwitchCheckDefault").click( function() {

                $("#testDataDropdown").hide();
                $("#kfoldInput").hide();
                $("#randomRatio").hide();
                $("#numOfTrial").hide();
                if($("#flexSwitchCheckDefault").is(":checked")){
                    $("#testDataDropdown").show();
                }

            });

            $("#dropdownClassifier").change( function() {
                let selectedVal = $("#dropdownClassifier option:selected").text();
                $("#logisticRegParam").hide();
                $("#SVMParam").hide();
                $("#KNNParam").hide();
                $("#decisionTreeParam").hide();

                if(selectedVal === "Logistic Regression"){
                    $("#logisticRegParam").show();
                }
                else if(selectedVal === "SVM"){
                    $("#SVMParam").show();

                }
                else if(selectedVal === "Decision Tree"){
                    $("#decisionTreeParam").show();

                }
                else{ //KNN
                    $("#KNNParam").show();
                }
            });
            
            $("#KNNdistance").change(function(){
                let selectedVal = $("#KNNdistance option:selected").text();
                if(selectedVal === "arbitrary (Minkowski)"){
                    $("#minkowski").show();
                }
            });

            

            $("#splitMethod").change(function(){
                let selectedVal = $("#splitMethod option:selected").text();
                console.log(selectedVal);
                $("#kfoldInput").hide();
                $("#randomRatio").hide();
                $("#numOfTrial").hide();
                
                if(selectedVal === "K-Fold Validation"){
                    $("#kfoldInput").show();

                }
                else if(selectedVal === "Random Sampling (Your Own Ratio)"){

                    $("#randomRatio").show();
                    $("#numOfTrial").show();
                }


            });

            $("#customRange1").mousemove( function() {
                let train = $(this).val();
                let test =  100 - $(this).val();
                $("#rangeTrainVal").text(train  + "%");
                $("#rangeTestVal").text(test + "%")  ;
            });

            
            
            $(".form-check-input.all").click( function() {
                
                //$('input:checkbox').not(this).prop('checked', this.checked);
                $(".form-check-input.check").not(this).prop("checked", this.checked)
            
            })
            $("#inlineCheckbox5").click(function(){
                if(this.checked){
                    $("#pos_labelValue").show()
                }
                else{
                    $("#pos_labelValue").hide()
                }
            })

            $("button.supervised").click(function(){
                $("form.formContent.supervised").submit();
            })
            $("button.unsupervised").click(function(){
                $("form.formContent.unsupervised").submit();
            })



            // Unsupervised options
            $("#unsupervisedTaskType").change(function(){
                let selectedVal = $("#unsupervisedTaskType option:selected").text();
                $(".kmeansParam").hide();
                $(".DBSCAN").hide();
                $(".Agglomerative").hide();

                if(selectedVal == "K-Means"){
                    $(".col.kmeansParam").show();
                }
                else if(selectedVal == "DBSCAN"){
                    $(".DBSCAN").show();
                }
                else if(selectedVal == "Agglomerative"){
                    $(".Agglomerative").show();
                }
            })


        
    })
        


        
    </script>
    
</body>




<%- include('includes/end.ejs') %>
