<%- include('includes/head.ejs') %>
<script>
    function getSelectValue(v) {
        //let selectedValue = document.getElementById("dropdown").value;
        console.log(v);
        
        
        if(v == "Laplacian"){
        let idiv = document.createElement('div');
        idiv.innerHTML="<div id='added'> <p>Hyperparameters for Laplacian <pre>(Embedding Dimensionality(2-256)</pre></p><input name='dimension' class='form-control input-sm' id='inputsm' type='text'></div>";
        //document.getElementById('division').append(idiv);
        //document.getElementsByClassName('formContent')[2].appendChild(idiv);
        document.getElementById('btn').insertAdjacentHTML('beforebegin', idiv.innerHTML);
        i = 1;
        }

        // Should be developed in the future
        else if(v =="Locally Linear" || v=="Graph Factorization" || v=="HOPE" || v=="SDNE" || v=="node2vec"){
                alert(
                    "This method is still being developed!"
                );
                var elem = document.getElementById("added");
                if(elem.parentNode){
                    elem.parentNode.removeChild(elem);
                }
                else{
                    console.log("This method is still being developed");
                }
                
                
                
            }
        

    }
</script>
</head>
<body>

    <%- include('includes/navigation.ejs') %>
    <%- include('includes/progressBar.ejs') %>
    <div class="formHeader">
        <p> Graph Embedding</p>
        <hr>
        <h5>Configure the requirements for your graph embedding</h5>
    </div>
    
    


    <form class='formContent' name="form" action="/embeddingHandler" method="POST">
       
        <p>Embedding Technique</p>
        <select onchange="getSelectValue(value);" class="form-select" id="dropdown" aria-label="Default select example" style="width: 10rem;" name="embeddingMethod">
            <option selected>Choose...</option>
            <option value="Laplacian">Laplacian</option>
            <option value="Locally Linear">Locally Linear</option>
            <option value="Graph Factorization">Graph Factorization</option>
            <option value="HOPE">HOPE</option>
            <option value="SDNE">SDNE</option>
            <option value="node2vec">node2vec</option>
        </select>
        
        <hr>
        




        <!--If Laplacian is selected show specific <div>  -->
        

        


        <button id="btn" class="btn" style="position:relative; margin-left:100%; margin-bottom:3px;" type="submit">Submit</button>


    </form>

</body>




<%- include('includes/end.ejs') %>
