.container {
  padding: 3rem;
  width: 80%;
  height: 20%;
}

.formHeader {
  padding: 3rem;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.formHeader hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2px;
  border: 0;
  color: rgb(20, 112, 116);
  background-color: rgb(20, 112, 116);
}

.formContent {
  padding: 3rem;
  width: 80%;
  margin-left: 10%;
}
.formContent div {
  padding-bottom: 3rem;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

.progressbar li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.progressbar li active {
  font-weight: bold;
}

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}
